@import "tailwindcss";

@source "../components/**/*.{js,ts,jsx,tsx,mdx}";
@source "../app/**/*.{js,ts,jsx,tsx,mdx}";
@source "../lib/**/*.{js,ts,jsx,tsx,mdx}";
@source "../config/**/*.{js,ts,jsx,tsx,mdx}";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter) !important;
}


h1,h2,h3,h4,h4,h6 {
  font-family: var(--font-nunito-sans) !important;
}
.font-inter {
  font-family: var(--font-inter) !important;
}
.homeslider .slick-dots {
   display: grid !important;
    bottom: inherit;
    top: 50px;
    left: 48px;
    right: inherit;
    text-align: left;
}
.homeslider .slick-dots .slick-dots li {display: flex; flex-direction: column;}
.homeslider .slick-dots li button:before {width: 12px; height: 12px; background-color: #a0aec0; color: transparent; border-radius: 50%; opacity: 1;}
.homeslider .slick-dots li.slick-active button:before {background-color: #667eea; color: transparent !important;}@media screen and (max-width:767px) {
  .homeslider .slick-dots { left: 30px;}
}
@media screen and (max-width: 639px) {
  .homeslider .slick-dots {display: none !important;}
}


.hero_icon::before {
  content: "";
  position: absolute;
  top: 65px;
  bottom: -20px;
  left: 32px;
  width: 1px;
  background-color: #ff5d22;
}
.hero_icon::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 24px;
  width: 20px;
  height: 18px;
  display: block;
  animation: fade-down 1.5s linear infinite;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff5d22' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
}

.cat_content p, ul li, ol li  {font-family: var(--font-inter) !important;}
.cat_content p, .cat_content ul , .cat_content ol {margin-bottom: 1.25rem; margin-left: 0px !important; font-family: var(--font-inter) !important; font-size: 16px;}
.cat_content h3, .cat_content h4 {margin-bottom: 1.25rem; font-weight:700;margin-left: 0px !important;}

@keyframes fade-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  75% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}